/* =====================================
>>> Buttons and Links
======================================*/
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 4px 18px;
  border-radius: 18px;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.4s ease;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  &-grey {
    @extend .btn;
    background-color: transparent;
    color: $mygrey;
    border: 1px solid $mygrey;
    &:hover {
      background-color: $mygrey;
      color: $mywhite;
    }
  }
}
