/* =====================================
>>> Buttons and Links
======================================*/

.btn-arrow {
  position: relative;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: $myblack;
  display: inline-block;
  transition: 0.4s ease;
  &::after {
    content: url("/images/arrow_forward.svg");
    position: absolute;
    vertical-align: middle;
    top: 5px;
    right: -20px;
    transition: inherit;
  }
  &:hover {
    color: $myblack;
    &::after {
      right: -30px;
    }
  }
  &-external {
    @extend .btn-arrow;
    &::after {
      content: url("/images/arrow_north_east.svg");
      top: 3px;
    }
    &:hover {
      &::after {
        top: 0px;
        right: -25px;
      }
    }
  }
}

.btn-orange {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  &:active {
    transform: scale(0.95);
  }
  &-sm {
    @extend .btn-orange;
    padding: 10px 20px;
    display: inline-block;
  }
}