/* =====================================
>>> Global Classes
======================================*/
/* Font Colour
--------------------------------*/
.text {
  &-grey {
    color: $mygrey;
  }
  &-lightgrey {
    color: $mylightgrey;
  }
  &-black {
    color: $myblack;
  }
  &-orange {
    color: $myorange;
  }
}

/* Link
--------------------------------*/
.link {
  text-decoration: none;
  transition: .2s ease;
  &-orange {
    @extend .link;
    color: inherit;
    &:hover {
      color: $myorange;
    }
  }
}
/* Background Colour
--------------------------------*/
.bg {
  &-grey {
    background-color: $mygrey;
  }
}
