/* =====================================
>>> Global Colours
======================================*/

$myred: #ad2221;
$mywhite: #ffffff;
$myblack: #000;
$mydark: #181818;
$mylogodark: #2d2928;
$mylightgrey: #f2f2f2;
$mygrey: #AAA;
$mydarkgrey: #27272722;

