/* =====================================
>>> Global Colours
======================================*/

$myorange: #f47133;
$myblack: #191b1f;
$mygrey: #6b737a;
$mymidgrey: #9a9a9a;
$mylightgrey: #d6d6db;
$mywhite: #fff;
