/* ==========================================
>>> Component styles using Sass variables
=============================================*/

/* Navbar
--------------------------------*/
nav {
  a {
    &.active {
      color: $myred;
    }
  }
}
.mobile-nav{
  .nav-bar{
    border-top: 1px solid $mylightgrey;
  }
  .nav-links{
    a{
        border-bottom: 1px dotted $mydark;
    }
  }
}

/* Hero Banner
--------------------------------*/
.quick-links {
  color: $myblack;
  .quick-link {
    border-left: 1px solid $mygrey;
    color: $myblack;
    &:hover {
      border-left: 16px solid $myred;
      color: $myred;
    }
  }
}

/* Footer
--------------------------------*/
footer {
  hr {
    color: $mylightgrey;
  }
  // .link-white.active{
  //   // color: $myred;
  //   // pointer-events: none;
  // }
  .footer-base {
    .social-links {
      a {
        color: $mygrey;
        &:hover {
          color: $myred;
        }
      }
    }
  }
}

/* Contact Form
--------------------------------*/
.contact-form {
  input,
  textarea {
    border: 1px solid $myblack;
    &:hover {
      border: 1px solid $myred;
    }
    &:focus {
      border: 1px solid $myred;
    }
  }
  label {
    position: relative;
    &.required {
      &::after {
        content: "*";
        color: $myred;
        font-weight: 300;
        font-size: 1.6rem;
        position: absolute;
        right: -14px;
        top: 2px;
      }
    }
  }
  ::placeholder {
    color: $mygrey;
  }
}

/* FAQs Accordion
--------------------------------*/
.faqs {
  .accordion-button:not(.collapsed) {
    color: $myred;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
      var(--bs-accordion-border-color);
  }
  .accordion-button {
    transition: 0.6s ease;
    background-color: transparent;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    &:hover {
      background-color: $mylightgrey;
    }
    &.collapsed {
      background-color: transparent;
      &:hover {
        background-color: $mylightgrey;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}
